*{
    box-sizing: border-box;
    padding: 0;
    margin: 0
}
.header_title_sub{
    font-size: 12px;
}
.content{
    display: flex; 
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    gap: 24px;
}
.container{
    border: 1px solid black;
    border-radius: 24px;
    width: 512px;
    height: 360px;
}
.container_body{
    padding:20px;
    display:flex;
    flex-direction: column;
    height:100%;
    gap:14px;
}
.input_body > input{
    width:100%;
    height: 36px;
    padding: 10px;
}
.input_body > select{
    width:100%;
    height: 36px;
    padding: 10px;
}
.button > button{
    width:100%;
    height: 36px;
    background-color: #F54900;
    border-style: none;
    border-radius: 16px;
}


