.team_content{
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 14px;
    flex:1;
}
.team_box{
    border-bottom : 1px solid rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.team_box_title{
    height: 20px;
    margin: 10px;
}
.team_box_end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tab_list{
    width : 200px;    
    display: flex;
    flex-direction: row;
    background-color: #ECECF0;
    border-radius: 14px;
    gap:12px;
    font-size: 14;
    align-items: center;
    justify-items: center;
}
.footer{
    border: 1px solid black;
}
